*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: rgba(248,249,250,255);
}

.background-white{
    background-color: white;
}

.bg{
    background-color: rgba(229,229,229,255);
}