*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(248,249,250,255);
}

.sidebar{
    background-color:rgba(5,30,52,255) ;
    background-image:url(../img/sidebar-bg.png);
    width: 200px;
    margin-top: 65px
}

.sidebar-mobile{
    background-color:rgba(5,30,52,255) ;
    background-image:url(../img/sidebar-bg.png);
    width: 100px;
    margin-top: 65px
}

.margin-top{
    margin-top: 60vh;
}

.main-content{
    height: 100vh;
}

.overflow{
    height: 100vh;
    overflow-y: auto;
}

.icon{
    display: inline-flex;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-decoration: none;
}

.background-white{
    background-color: white;
}

.bg{
    background-color: rgba(229,229,229,255);
}


.bg-blue{
    background-color: rgba(27,114,232,255);
    margin-top: 65px;
}

i{
    width: 50%;
}

.graphic{
    width: 100%;
}


.custom-btn{
    background-color: transparent;
    border: 1px solid white;
}

.inline{
    display: inline-block;
    margin-left: 15px;
}

.blue{
    background-color: rgba(22,91,186,255);
    font-size: 14px;
    font-weight: 500;
}

.color-white{
    color: white;
}

.arrow{
    font-size: 25px;
    color: white;
}

.content-sidebar ul li{
    list-style-type: none;
    margin: 20px 0;
}

.content-sidebar ul li a{
    text-decoration: none;
}

.content-sidebar span{
    color: white;
}

.sidebar-icon i{
    width: 20px;
    color: white;
}

.list:hover{
    background-color: rgba(255, 255, 255, 0.208);
}

.bell{
    color: rgba(255,143,0,255);
}

.h-icon{
    color: rgba(91,88,88,255);
    margin-right: 0;
}

.inner-addon{
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute; 
    padding: 13px 8px;
    pointer-events: none;
}

.left-addon .glyphicon{
    left:  14px;
}

.right-addon .glyphicon{
    right: 0px;
}

.left-addon input{
    padding-left:  30px; 
}

.right-addon input{
    padding-right: 30px; 
}