*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(248,249,250,255);
}

.background-white{
    background-color: white;
}

.bg{
    background-color: rgba(229,229,229,255);
}

.sidebar{
    background-color:rgba(5,30,52,255) ;
    height: 200vh;
} 

.sidebar img{
    width: 100%;
}

.bg-blue{
    background-color: rgba(27,114,232,255);
    margin-top: 80px;
}

.bg-red{
    background-color: red;
}

i{
    width: 50%;
}

.border{
    border-radius: 25px;
}

.graphic{
    width: 100%;
}

.width{
    width: 250px;
    margin-top: 80px
}

.icon{
    display: inline-flex;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-decoration: none;
}

.custom-btn{
    background-color: transparent;
    border: 1px solid white;
}

.inline{
    display: inline-block;
}
